---
import Image from "astro/components/Image.astro";
import Logo from "../../assets/logo-without-text.png";
import Diamond from "../../assets/logo-design/diamond.png";
---

<section class="internal-padding flex">
  <div class="min-w-1/4">
    <h2 class="mb-8 text-4xl font-semibold text-[#000047] md:text-[54px]">
      Why Logo Designs Matter?
    </h2>
    <Image src={Logo} alt="Nixxon Tech Logo" class="h-32 w-auto" />
  </div>
  <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 xl:grid-cols-3">
    <article class="rounded-lg bg-[#F5F5F5] p-6 text-[#3A3939]">
      <Image src={Diamond} alt="Diamond Icon" class="mb-6 h-12 w-12" />
      <h3 class="mb-6 text-[28px] font-semibold">Define Your Brand</h3>
      <p class="">
        A Logo that represents your company and what you stand for creates a
        brand persona that leaves a lasting impression.
      </p>
    </article>
    <article class="rounded-lg bg-[#F5F5F5] p-6 text-[#3A3939]">
      <Image src={Diamond} alt="Diamond Icon" class="mb-6 h-12 w-12" />
      <h3 class="mb-6 text-[28px] font-semibold">Define Your Brand</h3>
      <p class="">
        A Logo that represents your company and what you stand for creates a
        brand persona that leaves a lasting impression.
      </p>
    </article>
    <article class="rounded-lg bg-[#F5F5F5] p-6 text-[#3A3939]">
      <Image src={Diamond} alt="Diamond Icon" class="mb-6 h-12 w-12" />
      <h3 class="mb-6 text-[28px] font-semibold">Define Your Brand</h3>
      <p class="">
        A Logo that represents your company and what you stand for creates a
        brand persona that leaves a lasting impression.
      </p>
    </article>
    <article class="rounded-lg bg-[#F5F5F5] p-6 text-[#3A3939]">
      <Image src={Diamond} alt="Diamond Icon" class="mb-6 h-12 w-12" />
      <h3 class="mb-6 text-[28px] font-semibold">Define Your Brand</h3>
      <p class="">
        A Logo that represents your company and what you stand for creates a
        brand persona that leaves a lasting impression.
      </p>
    </article>
    <article class="rounded-lg bg-[#F5F5F5] p-6 text-[#3A3939]">
      <Image src={Diamond} alt="Diamond Icon" class="mb-6 h-12 w-12" />
      <h3 class="mb-6 text-[28px] font-semibold">Define Your Brand</h3>
      <p class="">
        A Logo that represents your company and what you stand for creates a
        brand persona that leaves a lasting impression.
      </p>
    </article>
    <article class="rounded-lg bg-[#F5F5F5] p-6 text-[#3A3939]">
      <Image src={Diamond} alt="Diamond Icon" class="mb-6 h-12 w-12" />
      <h3 class="mb-6 text-[28px] font-semibold">Define Your Brand</h3>
      <p class="">
        A Logo that represents your company and what you stand for creates a
        brand persona that leaves a lasting impression.
      </p>
    </article>
  </div>
</section>
