---
import { Image } from "astro:assets";
import Art from "../../assets/contact-us/contact.svg";
import CallIcon from "../../assets/contact-us/call.png";
import EmailIcon from "../../assets/contact-us/email.png";
import LocationIcon from "../../assets/contact-us/location.png";
import FacebookIcon from "../../assets/contact-us/facebook.png";
import InstagramIcon from "../../assets/contact-us/instagram.png";
import LinkedInIcon from "../../assets/contact-us/linkedin.png";
import PinterestIcon from "../../assets/contact-us/pinterest.png";
import YoutubeIcon from "../../assets/contact-us/youtube.png";
---

<section class="flex items-center justify-between app-max-width py-16">
  <div class="w-3/4 flex flex-col space-y-12">
    <div>
      <h2 class="text-primary-blue text-[38px] font-semibold">
        Contact Information
      </h2>
      <p class="text-lg">
        Fill up the form and Our Team will get back to you within 24 hours.
      </p>
    </div>
    <div class="flex space-x-6 text-[18px] font-semibold">
      <div>
        <h3 class="text-primary-blue mb-4">Call Us At:</h3>
        <p class="flex items-center space-x-2 font-medium">
          <Image src={CallIcon} alt="Call Icon" class="w-6 inline-block" />
          <a href="tel:+1234567890">+1 234 567 890</a>
        </p>
      </div>
      <div>
        <h3 class="text-primary-blue mb-4">Email Us At:</h3>
        <p class="flex items-center space-x-2 font-medium">
          <Image src={EmailIcon} alt="Email Icon" class="w-6 inline-block" />
          <a href="mailto:info@nixxontect.com">info@nixxontech.com</a>
        </p>
      </div>
      <div>
        <h3 class="text-primary-blue mb-4">Visit Us At:</h3>
        <p class="flex items-center space-x-2 font-medium">
          <Image
            src={LocationIcon}
            alt="Location Icon"
            class="w-6 inline-block"
          />
          <span> Troy St. Ste B, Dothan, AL 36303 </span>
        </p>
      </div>
    </div>
    <div>
      <p class="text-[18px] text-primary-blue font-semibold mb-4">Follow Us on:</p>
      <div class="flex space-x-4">
        <Image src={FacebookIcon} alt="Facebook" class="w-8" />
        <Image src={InstagramIcon} alt="Instagram" class="w-8" />
        <Image src={LinkedInIcon} alt="LinkedIn" class="w-8" />
        <Image src={PinterestIcon} alt="Pinterest" class="w-8" />
        <Image src={YoutubeIcon} alt="Youtube" class="w-8" />
      </div>
    </div>
  </div>
  <Image src={Art} alt="Contact Us" class="w-96" />
</section>
